<div class="content-section" id="about">
    <div class="content bubble-right secondary">
<div class="about reveal" id="content">
  <h2>About Me</h2>
  <p>
    Hey, I'm Travis Fantina. I'm a full stack developer and hobbiest designer.
    Currently at <a href="https://www.objectiveinc.com/">Objective</a>.
  </p>
  <p>
    I dabble in anything and everything that intrersts me. Mostly I work with,
    Ruby and Rails, Elixir, and JavaScript, but it's not out of the ordinary for
    me to dabble with Django or play with WordPress.
  </p>
  <p>

      At the moment I'm working full time for a consultancy and not actively
      taking on new clients but I'd still love to hear from you.
    </p>
    <p>
      Please send me an email
      <a href="mailto:trav@hey.com?subject=yo">trav@hey.com</a>
    </p>

  <button class="btn btn-secondary" onclick="dropdown('experience')">
    Experience
  </button>
  <button class="btn btn-secondary" onclick="dropdown('fullstory')">
    Full Story
  </button>

  <div class="reveal" id="experience">
    <p>
      Experience:
    </p>
    <p>
      <ul>
        <li class="elongate"><span class="l-col">Elixir & Phoenix</span><div class="experience-bar"><div class="inner-bar" id="elixir"></div></div></li>
        <li class="elongate"><span class="l-col">Ruby & Rails</span><div class="experience-bar"><div class="inner-bar" id="ruby"></div></div></li>
        <li class="elongate"><span class="l-col">JavaScript</span><div class="experience-bar"><div class="inner-bar" id="javascript"></div></div></li>
        <li class="elongate"><span class="l-col">Wordpress</span><div class="experience-bar"><div class="inner-bar" id="wp"></div></div></li>
        <li class="elongate"><span class="l-col">React</span><div class="experience-bar"><div class="inner-bar" id="react"></div></div></li>
        <li class="elongate"><span class="l-col">Redux</span> <div class="experience-bar"><div class="inner-bar" id="redux"></div></div></li>
        <li class="elongate"><span class="l-col">Digital Ocean & Ubuntu</span> <div class="experience-bar"><div class="inner-bar" id="do"></div></div></li>
        <li class="elongate"><span class="l-col">Django</span> <div class="experience-bar"><div class="inner-bar" id="django"></div></div></li>
        <li class="elongate"><span class="l-col">Express</span> <div class="experience-bar"><div class="inner-bar" id="express"></div></div></li>
      </ul>
    </p>
    <p>
      Tools I use (the daily drivers):
      <ul>
        <li>Atom - still awesome in 2020</li>
        <li>iTerm2</li>
        <li>GitHub</li>
        <li>Sketch</li>
        <li>Affinity Designer</li>
      </ul>
    </p>
  </div>

  <div class="reveal" id="fullstory">
    <p>
    I started playing with HTML and CSS back in 2003-2004 that era, it was a dark
    time, corners were rounderd with GIFs, layouts were done with tables.  It was
    not a lot of fun, but I loved the idea that I could make anything and it could
    be seen/read/used by, potentially, anyone in the world.
    </p>
    <p>
    I tried many forays into programming throughout highschool but never stuck with
    it.  I used the WordPress 5 minute install, and knew enough ActionScript to make
    dumb little Flash games but that was all I needed for a time.
    <p>
    Around 2015 I was in a design class at Brigham Young Univesity where I was
    introduced to Ruby on Rails by <a href="https://rayelder.com/">Ray Elder</a>.
    Ruby was a gateway drug into a world that I had skrited for many years but
    never comitted too, the power, beauty and flexability of the language made me
    feel like I could do anything.  Gone were the days of printing "hello world"
    and getting board, I was building websites!
      </p>
    <p>
    Since that time I have been designing and developing projects for myself and
    others on a freelance basis and more recently at <a href="https://www.objectiveinc.com/">Objective</a>.
    Check out our work, we were best in state last year.
    </p>
    <p>
    On the side I continue to tirelessly prusue side projects most recently I've
    been building <a href="https://dinnerlove.herokuapp.com/">DinnerLove - 🥑</a>
    a place to disover and plan your next meal.
    </p>

  </div>
</div>
</div>
</div>
