 <header class="navStatus" id="navStatus">
    <div class="logo"><a href="../"><img src="https://www.travisfantina.com/images/Logo.svg" alt="header icon"
          style="height: 40px; width: 40px;" /></a></div>
    <navigation class="navigation" id="navigation">
      <ul>
        <li id="menu">
          <a href="javascript:void(0)" onclick="expandNavigation()">navigation</a></li>
        </li>
        <li><a href='https://travisfantina.com#projects'>projects</a> </li>
        <li><a href='https://travisfantina.com#about'>about</a> </li>
        <li><a href='https://tfantina.github.io'>writing</a> </li>
        <li><a href='https://travisfantina.com#contact'>contact</a> </li>

      </ul>
    </navigation>

  </header>
    <script src="{{
      base.url | prepend: site.url
    }}/assets/scripts/navigation.js"></script>
