<div class="content-section" id="writing">
      <div class="content bubble-right tertiary">
    <h2>Writing</h2>
    <h3>Recent thoughts on design, code, life and the enivronment. </h3>
    <p>
      <a href="#">See the complete archive</a> of all my writing here and elsewhere.
      </p>
    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange">
          <use
            xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"
          ></use></svg
        ><span>Subscribe</span>
      </a>
    </p>
  </div>
  </div>
  {%- if site.posts.size > 0 -%}
  <div class="post-grid">
    {%- for post in site.posts limit: 12 -%}

    <div class="post-square">
      {%- if post.lead_image -%}
      <a href="{{ post.url | relative_url }}"">
        <img
          class="post_image--lead {{post.placement}}"
          src="{{ post.lead_image }}"
          alt="{{ post.title }}"
        />
      </a>

      {%- endif -%} {%- assign date_format = site.minima.date_format | default:
      "%b %-d, %Y" -%}
      <div class="post_image--shadow"></div>

      <span class="post-meta home-post-meta"
        >{{ post.date | date: date_format }}</span
      >
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
    </div>

    {%- endfor -%}
  </div>
  {%- endif -%}
</div>
