.page-content {
  @include page-background;
  padding: 0px;
}

.hero-container {
  position: relative;
  height: 100vh;
}

.hero {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0px;
  top: 62px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(/assets/images/jungle2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 100%;
}

.content-section {
  min-height: 100%;
  width: 100%;

  .content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .bubble-left {
    border-radius: 10px 0 20px 20px;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .bubble-right {
    border-radius: 0 10px 20px 20px;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .primary {
    background-color: $accent-primary;
    background-image: linear-gradient($accent-primary, #c4e2fb);
  }
  .secondary {
    background-color: $accent-secondary;
    background-image: linear-gradient($accent-secondary, #cef4e0);
  }
  .tertiary {
    background-color: $accent-tertiary;
    background-image: linear-gradient($accent-tertiary, #f6cce7);
  }
}
